PORT=4000
CLIENT_ORIGIN=http://localhost:5173
PUBLIC_API_ORIGIN=http://localhost:4000
GOOGLE_WALLET_ISSUER_ID=
GOOGLE_APPLICATION_CREDENTIALS=
# Alternatively set GOOGLE_SERVICE_ACCOUNT_JSON to the full JSON contents.
GOOGLE_SERVICE_ACCOUNT_JSON=
CAR_RENEWAL_URL=https://www.555.co.il/
DATA_FILE=./data/issued-cards.json
